ul {
  list-style-type: none;
  font-size: 1.5em;
  margin-top: 3%;
}

li {
  display: inline;
  margin-right: 5%;
  cursor: pointer;
}


/* img {
  height: 300px;
  margin: 1% 1% 0 0;
  display: inline-block;
}

div#thumbContainer {
  height: 350px;
  border: 1px solid black;
  overflow: hidden;
} */

#thumbContainer {
  width: 6000px;
  position: relative;
  overflow: hidden;
  height: 350px;
  /*240px to show*/
  margin-top: 1%;
}

#thumbScroller {
  position: relative;
  overflow: hidden;
}

#thumbScroller .container {
  width: 100%;
  position: relative;
  float: left;
  /* display: none; */
}

#thumbScroller .content {
  float: left;
}

#thumbScroller .content div {
  margin: 20px 5px;
}

#thumbScroller img {
  height: 300px;
  border: 1px solid #fff;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

#thumbScroller a {
  padding: 1px;
}